<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="MyServiceEndpoint"
        closeTimeout="00:15:00"
        openTimeout="00:15:00"
        receiveTimeout="00:30:00"
        sendTimeout="00:30:00"
        transactionFlow="false"
        maxConnections="10"
        maxReceivedMessageSize="2560000"
        maxBufferSize="2560000">

          <security mode="Transport">
            <transport clientCredentialType="Windows"
            protectionLevel="EncryptAndSign"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="VFS.Server.WinService.Protocol.RemoteConsole">
        <endpoint contract="VFS.Common.IRemoteConsole"
                  binding="netTcpBinding"
                  address="net.tcp://localhost:20010/RemoteConsole" />
        
      </service>
    </services>
  </system.serviceModel>
</configuration>