<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="VFS.Server.Console.Protocol.RemoteConsole">
        <endpoint contract="VFS.Contract.IRemoteConsole"
                  binding="netTcpBinding"
                  address="net.tcp://localhost:20010/RemoteConsole" />
      </service>
    </services>
  </system.serviceModel>
</configuration>